* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aboutMe {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}
.logo {
  width: 100%;
  text-align: center;
}
.logo img {
  height: 300px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper .dynamic-txts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  text-transform: capitalize;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 3px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
  top: 0;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.introduceMe {
  margin-top: 3rem;
}
.myName {
  margin-bottom: 0;
  text-transform: capitalize;
  color: #4164a3;
  font-size: 35px;
  font-weight: 700;
}
.introImg {
  width: 100%;
}
.introHeding {
  text-transform: capitalize;
  font-size: 36px;
  color: #0799dd;
  font-weight: 700;
  text-align: center;
  margin: 3rem 0 3rem;
}
.introDec {
  text-align: center;
  line-height: 29px;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
.myProjectSection {
  margin-top: 3rem;
}
.workSampel {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgb(144 144 144);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.workSampel img {
  width: 100%;
  height: 120px;
}
.contact {
  margin-bottom: 1rem;
}
.contactMe {
  margin: 3rem 0;
  text-align: center;
}
.contLoct {
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #e47f39;
}
.mymedia {
  display: inline-block;
  margin-right: 0.7rem;
  font-size: 35px;
  background-color: #3136de;
  padding: 0.1rem 0.4rem 0.4rem 0.4rem;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top: 2rem;
  color: #fff;
  border: 2px solid #3136de;
  transition: 0.3s;
}
.mymedia:hover {
  background: none;
  border: 2px solid #e89140;
  color: #e47f39;
}
.footerHeading {
  font-size: 1.2rem;
  text-align: center;
}
.footer {
  padding: 2rem 0;
}
.m-top {
  margin-top: 10rem;
}
