* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aboutMe {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}
.logo {
  width: 100%;
  text-align: center;
}
.logo img {
  height: 300px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper .dynamic-txts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  text-transform: capitalize;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 3px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
  top: 0;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.introduceMe {
  margin-top: 3rem;
}
.myName {
  margin-bottom: 0;
  text-transform: capitalize;
  color: #4164a3;
  font-size: 35px;
  font-weight: 700;
}
.introImg {
  width: 100%;
}
.introHeding {
  text-transform: capitalize;
  font-size: 36px;
  color: #0799dd;
  font-weight: 700;
  text-align: center;
  margin: 3rem 0 3rem;
}
.introDec {
  text-align: center;
  line-height: 29px;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
.myProjectSection {
  margin-top: 3rem;
}
.workSampel {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgb(144 144 144);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.workSampel img {
  width: 100%;
  height: 120px;
}
.contact {
  margin-bottom: 1rem;
}
.contactMe {
  margin: 3rem 0;
  text-align: center;
}
.contLoct a {
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #e47f39;
}
.contLoct a:hover {
  text-decoration: none;
}
.mymedia {
  display: inline-block;
}
.mymedia a {
  display: inline-block;
  margin-right: 0.7rem;
  font-size: 35px;
  background-color: #3136de;
  padding: 0.1rem 0.4rem 0.4rem 0.4rem;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top: 2rem;
  color: #fff;
  border: 2px solid #3136de;
  transition: 0.3s;
}
.mymedia a:hover {
  background: none;
  border: 2px solid #e89140;
  color: #e47f39;
}
.footerHeading {
  font-size: 1.2rem;
  text-align: center;
}
.footer {
  padding: 2rem 0;
}
.m-top {
  margin-top: 10rem;
}
.carousel-control-prev {
  left: 38%;
  background-color: red;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 108%;
  border-radius: 5px;
  margin-left: 15px;
}
.carousel-control-next {
  right: 46%;
  background-color: red;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 108%;
  border-radius: 5px;
}
.carousel-indicators li {
  background-color: #f00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: none;
}
.project_slide {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 0.5rem;
}
.carousel-item {
  transition: 0.5s;
  position: relative;
}
.overfolow {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  display: none;
}
.overfolow a {
  color: #fff;
  text-align: center;
  margin-top: 7rem;
  display: block;
  font-size: 3rem;
  margin-left: 3rem;
}
.carousel-item:hover .overfolow {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: block;
  border-radius: 0.5rem;
}
.sliderProject {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 0px 25px #bab6b6cc;
  border-radius: 0.5rem;
}
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 26px;
  right: 0;
  top: 5px;
  z-index: 111;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.moodMoon {
  width: 50%;
  cursor: pointer;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4a217;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 7px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.light {
  background-color: #ffffff;
}
.darkMood {
  background-color: #111827;
}
.lightColor {
  color: #fff;
}
.darkMood .introDec {
  color: #ffffff;
}
.darkMood .dynamic-txts li span::after {
  background-color: #111827;
}
.darkMood .myProjectSection p {
  color: #ffffff;
}
.darkMood .footerHeading {
  color: #ffffff;
}
/* respocive query */
@media only screen and (max-width: 900px) {
  .dynamic-txts li {
    font-size: 20px;
  }
  .logo img {
    height: 180px;
  }
  .myName {
    font-size: 27px;
  }
  .introduceMe {
    margin-top: 0;
  }
  .introHeding {
    margin-top: 0;
  }
  .mobileDesplay {
    display: none;
  }
  .project_slide {
    height: 160px;
  }
  .carousel-control-prev {
    left: 28%;
    top: 114%;
  }
  .carousel-control-next {
    left: 50%;
    top: 114%;
  }
}
